@model helperland_project.ViewModel.SignupViewModel
@{
    ViewData["Title"] = "SpSignup";
    Layout = "~/Views/Shared/publicpagelayout.cshtml";
}

<main>
    <section class="hero-banner-section" style="background-image: url(/images/hero-banner.jpg);">
        <div class="container">
            <div class="become_pro_form mx-auto">
                <form class="row g-3" asp-action="SpSignup" asp-controller="Home">
                    <h2>Register Now!</h2>
                    <div class="col-md-12">
                        <input type="text" asp-for="Firstname" class="form-control" id="Firstname" placeholder="First Name" required>
                    </div>
                    <div class="col-md-12">
                        <input type="text" asp-for="Lastname" class="form-control" id="Lastname" placeholder="Last Name" required>
                    </div>

                    <div class="col-md-12">
                        <input type="email" asp-for="Email" class="form-control" id="Email" placeholder="Email address" required>
                    </div>
                    <div class="col-md-12">
                        <div class="row g-0">

                            <div class="col-sm-12 input-group">
                                <span class="c_code align-items-center justify-content-center">+49</span>
                                <input type="tel" asp-for="Phonenumber" class="form-control" id="Phone number" placeholder="Mobile Number" pattern="[0-9]{10}" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="password" asp-for="Password" class="form-control" id="password" minlength="1" placeholder="password" required>
                    </div>
                    <div class="col-md-12">
                        <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="confirm Password" required>
                        <span id='message'></span>
                    </div>
                    <div class="col-md-12 input-group">
                        <input type="checkbox" name="send_news_letter" id="send_news" class="check_box">
                        <label class="check_label">Send me newsletters from Helperland</label>
                    </div>
                    <div class="col-md-12 input-group">
                        <input type="checkbox" name="terms_privacy" id="terms" class="check_box" required>
                        <label class="check_label">I accept <a href="#">terms and conditions </a>&<a href="#"> privacy policy</a></label>
                        <div id='message2' style="color: red; display: none;">Please accept Privacy Policy</div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="pro_sub_btn" type="submit" id="but" name="Submit">
                            <h3>
                                Get Started
                                <img src="/images/arrow-white.png">
                            </h3>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="scroll-link-wrapper">
            <a href="#" title="Scroll Down" class="scroll-link">
                <img src="/images/white-down-arrow.png" alt="Scroll-down">
            </a>
        </div>
    </section>

    <section class="blog-section scroll-section">
        <div class="container">
            <div class="our-blog-block">
                <h2 class="text-center">How it works</h2>
                <div class="row blog-wrapper">
                    <div class="row d-flex align-items-center" id="hiw_row1">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <h3>Register yourself</h3>
                            <p>
                                Provide your basic information to register<br>
                                yourself as a service provider.
                            </p>
                            <a href="#" title="Read More" class="arrow-link">Read More<em><img src="/images/right-arrow-gray.png" alt="right arrow"></em></a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="image-wrapper">
                                <img src="/images/group-18 2.png" alt="Blog description">
                            </div>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                    <div class="row d-flex align-items-center" id="hiw_row2">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="image-wrapper">
                                <img src="/images/group-18 4.png" alt="Blog description">
                            </div>
                        </div>
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <h3>Get service requests</h3>
                            <p>
                                You will get service requests from<br>
                                customers depend op service area and profile.
                            </p>
                            <a href="#" title="Read More" class="arrow-link">Read More<em><img src="/images/right-arrow-gray.png" alt="right arrow"></em></a>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center" id="hiw_row3">
                        <div class="col-lg-2">
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <h3>Complete service</h3>
                            <p>
                                Accept service requests from your customers<br>
                                and complete your work.
                            </p>
                            <a href="#" title="Read More" class="arrow-link">Read More<em><img src="/images/right-arrow-gray.png" alt="right arrow"></em></a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="image-wrapper">
                                <img src="/images/group-18 3.png" alt="Blog description">
                            </div>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="our-news-letter our-news-letter-bg become_pro">
        <div class="container text-center">
            <a href="#" class="scroll-top"><img src="/images/up-arrow.png" alt="up-arrow"></a>
            <a href="#" class="message-boat"><img src="/images/message-boat.png" alt="message-boat"></a>
            <h2>GET OUR NEWSLETTER</h2>
            <div class="form-row d-flex justify-content-center align-items-center">
                <div class="form-group">
                    <label for="email" style="display: none;">YOUR EMAIL</label>
                    <input type="text" placeholder="YOUR EMAIL" id="email" class="form-control">
                </div>
                <div class="btn-wrapper">
                    <button class="red-btn">Submit</button>
                </div>
            </div>
        </div>
    </section>
</main>
